{% extends "bootstrap/base.html" %}

{% block title %}MediApp{% endblock %}

{% block navbar %}
<div class = "navbar navbar-inverse" role = "navigation">
    <div class="container">

        <div class="navbar-header">
            <button type = "button" class = "navbar-toggle" data-toggle="collapse" data-target = ".navbar-collapse">
                <span class = "sr-only">Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="navbar-brand" href = "/">MediApp</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href = "/viewentries">Entries</a>
                </li>
                <li>
                    <a href = "/newentries">New Entries</a>
                </li>
            </ul>
        </div>

    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
   {%  block page_content %} {%  endblock %}
</div>
{% endblock %}


