<table class="table table-striped">
<thead>
    <tr>
        {% for column in columns %}
            <th>
                {{ column }}
            </th>
        {% endfor %}
    </tr>
</thead>

<tbody>
    {% for entry in entries %}
        <tr>
                <th>
                    {% for string in entry.frenchStrings %}
                        {{ string.stringValue }},
                    {% endfor %}
                </th>
                <th>
                    {% for string in entry.dutchStrings %}
                        {{ string.stringValue }},
                    {% endfor %}
                </th>
                <th>
                    {% for string in entry.englishStrings %}
                        {{ string.stringValue }},
                    {% endfor %}
                </th>
        </tr>
    {% endfor %}
</tbody>

</table>
