{% extends "base.html" %}

{% block page_content %}

    <form class="form-inline" role="form">

         <div class="form-group">
            <label class="sr-only" for="search_field">Search field</label>
            <input type="search" class="form-control" id="search_field" placeholder="Search word">
        </div>
        <div class="form-group">
            <label class="sr-only" for="cat_dropdown">Category dropdown</label>
            <div class="col-lg-9">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Category
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action1</a></li>
                            <li><a href="#">Action2</a></li>
                        </ul>
                    </div>
                <input type="text" class="form-control">
                </div>
            </div>
        <div class="form-group">
            <label class="sr-only" for="search_button">Search button</label>
            <button type="submit" class="btn btn_default">Search</button>
        </div>
        </div>

    </form>

    {% include "table.html" %}

{% endblock %}
